.Cards {
    display: flex;
    gap: 60px;
    justify-content: center;
  }
  .parentContainer{
    width: 20%;
  }
  
  @media screen and (max-width: 1200px) {
    .Cards{
      flex-direction: column;
  
    }
    .parentContainer{
      height: 9rem;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 768px)
  {
    .Cards{
      width: 90%;
    }
  }