.map{
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

.contact-form{
    display: flex;
    justify-content: end;
    align-self: center;
}

.kapcsolat-p{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media(max-width:900px){
    .kapcsolat-p{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
}