* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nyeremenyjatek{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 8rem;
    margin-right: 10rem;
    background-color: rgb(191, 179, 165);
    border-radius: 10px;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.nyeremenyjatek h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    width: 80%;
    
    

}

.categories-home {

}

.nyeremenyjatek button {
    width: 10rem;
    height: 4rem;
    border-radius: 10px;
    margin-left: 2rem;
    border-color: rgb(168, 119, 87);
    background-color: rgb(160, 128, 100);
    color: antiquewhite;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nyeremenyjatek button:hover {
    width: 10rem;
    height: 4rem;
    border-radius: 10px;
    margin-left: 2rem;
    border-color: rgb(110, 63, 31);
    background-color: rgb(128, 88, 53);
    color: antiquewhite;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section1{
    width: 100%;
   
}

.torokcim{
   color: rgb(68, 31, 31);
}

.toroktext {
    color: rgb(68, 31, 31);
    
}

.weekly-offer {
    width: 100%;
    

}

.weekly-product {
   
    background-color: rgb(240, 238, 234);
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    border: 5px solid black;
}

.text {
    width: 100%;
    
    background-color: rgb(240, 238, 234); 
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    

   
}

.torok-img{
 width: 40%;
 float: right;
 height: 50%;


}

.szoveg {
    width: 50%;
    align-self: center;
    margin-left: 4rem;
}

.section2 {
    margin: 3rem;
    padding-bottom: 10rem;
}
.categories label {
    font-size: large;
   
}

.section2 label {
    font-size:xx-large;
    color: rgb(54, 1, 1);
}

.categories {
    display: flex;
    justify-content: space-around;

}

.categories h2 {
    text-align:center;
    color: rgb(94, 67, 43);
}

.categories img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

@media(max-width: 1000px){

    .categories, .categories-home {
        display: flex;
        flex-direction: column;
        gap:2rem ;
        justify-content: center;

    }
    .categories img {
        align-self: center;
    }

    .text {
        width: 100%; 
        background-color: rgb(240, 238, 234); 
        padding: 2rem;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        gap: 2rem;
    }

    .torok-img{
        align-self: center;
        float: none;
        
    }

    .nyeremenyjatek{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
       
        background-color: rgb(191, 179, 165);
        border-radius: 10px;
        padding-bottom: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

}

        .nyeremenyjatek div {
            display: flex;
            justify-content: center;
        }
}

@media(max-width: 500px) {
    .nyeremenyjatek {
        display: none;
    }
}




    

