.wrapper{
    width: 100px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}


.register-h1{
    font-size: 2rem;
    margin-bottom: 1.2rem;
}

.register-input{
    width: 10rem;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
    justify-content: space-between;

}

.register-button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 10rem;
    color: #fff;
    background-color: var(--clr-light-brown);
    cursor: pointer;
    margin-bottom: 1rem;
}


.register-button:hover{
    background:#b99c45;
}

.register-input:focus{
    border: 1px solid rgb(192, 192, 192)
}

.inputs{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-content: center;
    align-items:center

}