.orderDetail-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 900px; 
    margin: auto;
    margin-top: 50px;
  }

  .orderName {
    font-size: 42px; 
    margin-bottom: 15px; 
  }
  
  h2 {
    font-size: 30px; 
    margin-top: 20px; 
  }
  
  .products-list {
    list-style: none;
    padding-left: 0;
  }
  
  .products-list li {
    margin-bottom: 16px; 
    font-size: 20px; 
  }
  
  .orderDetail {
    margin-top: 20px; 
    font-size: 24px; 
  }
  
  .orderDetail + .orderDetail {
    margin-top: 15px; 
  }
  
  .products-list li:hover {
    background-color: #f5f5f5;
    transition: background-color 0.2s ease-in-out;
  }
  
  .orderDetail-container {
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .orderDetail-container {
      padding: 20px;
      font-size: 18px;
      max-width: 100%;
    }
  
    .orderName {
      font-size: 36px;
      margin-bottom: 10px;
    }
  
    h2 {
      font-size: 24px;
      margin-top: 15px;
    }
  
    .products-list li {
      margin-bottom: 12px;
      font-size: 18px;
    }
  
    .orderDetail {
      margin-top: 15px;
      font-size: 20px;
    }
  
    .orderDetail + .orderDetail {
      margin-top: 10px;
    }
  }
  
  